.metadata-group {
    justify-content: center;
    width: 100%;

    @container (min-width: $mantine-breakpoint-sm) {
        justify-content: flex-start;
    }
}

@media (width < 768px) {
    .metadata-group {
        justify-content: flex-start;
    }
}
